In [1632]:
import pandas as pd

In [1633]:
df=pd.read_csv('googleplaystore.csv')

In [1634]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [1635]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [1636]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [1637]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

# fix ` Rating `

### Detect outlier

In [1638]:
df[df['Rating']==19]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [1639]:
df.drop(10472,inplace=True)

In [1640]:
df.describe()

            Rating
count  9366.000000
mean      4.191757
std       0.515219
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max       5.000000

In [1641]:
df['Rating'].unique()

array([4.1, 3.9, 4.7, 4.5, 4.3, 4.4, 3.8, 4.2, 4.6, 3.2, 4. , nan, 4.8,
       4.9, 3.6, 3.7, 3.3, 3.4, 3.5, 3.1, 5. , 2.6, 3. , 1.9, 2.5, 2.8,
       2.7, 1. , 2.9, 2.3, 2.2, 1.7, 2. , 1.8, 2.4, 1.6, 2.1, 1.4, 1.5,
       1.2])

### fill null values by mean

In [1642]:
df['Rating']=df['Rating'].fillna(round(df['Rating'].mean()))

In [1643]:

df.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       8
Android Ver       2
dtype: int64

In [1644]:
df['Rating'].value_counts()

Rating
4.0    2042
4.4    1109
4.3    1076
4.5    1038
4.2     952
4.6     823
4.1     708
4.7     499
3.9     386
3.8     303
5.0     274
3.7     239
4.8     234
3.6     174
3.5     163
3.4     128
3.3     102
4.9      87
3.0      83
3.1      69
3.2      64
2.9      45
2.8      42
2.7      25
2.6      25
2.5      21
2.3      20
2.4      19
1.0      16
2.2      14
1.9      13
2.0      12
1.7       8
1.8       8
2.1       8
1.6       4
1.4       3
1.5       3
1.2       1
Name: count, dtype: int64

# fix size

In [1645]:
df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [1646]:
df[df['Size']=='Varies with device']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
37,Floor Plan Creator,ART_AND_DESIGN,4.1,36639,Varies with device,"5,000,000+",Free,0,Everyone,Art & Design,"July 14, 2018",Varies with device,2.3.3 and up
42,Textgram - write on photos,ART_AND_DESIGN,4.4,295221,Varies with device,"10,000,000+",Free,0,Everyone,Art & Design,"July 30, 2018",Varies with device,Varies with device
52,Used Cars and Trucks for Sale,AUTO_AND_VEHICLES,4.6,17057,Varies with device,"1,000,000+",Free,0,Everyone,Auto & Vehicles,"July 30, 2018",Varies with device,Varies with device
67,Ulysse Speedometer,AUTO_AND_VEHICLES,4.3,40211,Varies with device,"5,000,000+",Free,0,Everyone,Auto & Vehicles,"July 30, 2018",Varies with device,Varies with device
68,REPUVE,AUTO_AND_VEHICLES,3.9,356,Varies with device,"100,000+",Free,0,Everyone,Auto & Vehicles,"May 25, 2018",Varies with device,Varies with device
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10713,My Earthquake Alerts - US & Worldwide Earthquakes,WEATHER,4.4,3471,Varies with device,"100,000+",Free,0,Everyone,Weather,"July 24, 2018",Varies with device,Varies with device
10725,Posta App,MAPS_AND_NAVIGATION,3.6,8,Varies with device,"1,000+",Free,0,Everyone,Maps & Navigation,"September 27, 2017",Varies with device,4.4 and up
10765,Chat For Strangers - Video Chat,SOCIAL,3.4,622,Varies with device,"100,000+",Free,0,Mature 17+,Social,"May 23, 2018",Varies with device,Varies with device
10826,Frim: get new friends on local chat rooms,SOCIAL,4.0,88486,Varies with device,"5,000,000+",Free,0,Mature 17+,Social,"March 23, 2018",Varies with device,Varies with device
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device

### convert all to megabyte

In [1647]:
def size(x):
    if 'M' in x:
        return float(x.replace('M',""))
    elif 'k' in x:
        return float(x.replace('k',"")) / 1024
    else:
        return None
    
df['Size']=df['Size'].apply(size)

In [1648]:
df['Size'].isna().sum()

1695

In [1649]:
df['Size'].describe()

count    9145.000000
mean       21.516165
std        22.589084
min         0.008301
25%         4.900000
50%        13.000000
75%        30.000000
max       100.000000
Name: Size, dtype: float64

In [1650]:
df['Size']=df['Size'].fillna(df['Size'].mean())

In [1651]:
df['Size'].isna().sum()

0

In [1652]:
df['Size'].describe()

count    10840.000000
mean        21.516165
std         20.747804
min          0.008301
25%          5.900000
50%         18.000000
75%         26.000000
max        100.000000
Name: Size, dtype: float64

In [1653]:
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
538,"TryDate - Free Online Dating App, Chat Meet Ad...",DATING,4.4,7888,15.0,"500,000+",Free,0,Mature 17+,Dating,"April 29, 2018",2.4.0,4.1 and up
7078,Putzmeister Experts,TOOLS,4.6,21,8.9,"1,000+",Free,0,Everyone,Tools,"May 8, 2018",1.3,4.1 and up
3728,detikcom - Latest & Most Complete News,NEWS_AND_MAGAZINES,4.1,190888,11.0,"10,000,000+",Free,0,Teen,News & Magazines,"July 13, 2018",5.2.5,4.1 and up
10109,哈哈姆特不EY,COMMUNICATION,4.0,239,18.0,"10,000+",Free,0,Everyone,Communication,"July 31, 2018",1.3.4,4.4 and up
3958,MORTAL KOMBAT X,GAME,4.4,3039889,18.0,"10,000,000+",Free,0,Mature 17+,Action,"June 27, 2018",1.18.2,4.0 and up

# fix price

In [1654]:
df['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [1655]:
df['Price']=df['Price'].str.replace('$',"").apply(float)

In [1656]:
df['Price'].unique()

array([  0.  ,   4.99,   3.99,   6.99,   1.49,   2.99,   7.99,   5.99,
         3.49,   1.99,   9.99,   7.49,   0.99,   9.  ,   5.49,  10.  ,
        24.99,  11.99,  79.99,  16.99,  14.99,   1.  ,  29.99,  12.99,
         2.49,  10.99,   1.5 ,  19.99,  15.99,  33.99,  74.99,  39.99,
         3.95,   4.49,   1.7 ,   8.99,   2.  ,   3.88,  25.99, 399.99,
        17.99, 400.  ,   3.02,   1.76,   4.84,   4.77,   1.61,   2.5 ,
         1.59,   6.49,   1.29,   5.  ,  13.99, 299.99, 379.99,  37.99,
        18.99, 389.99,  19.9 ,   8.49,   1.75,  14.  ,   4.85,  46.99,
       109.99, 154.99,   3.08,   2.59,   4.8 ,   1.96,  19.4 ,   3.9 ,
         4.59,  15.46,   3.04,   4.29,   2.6 ,   3.28,   4.6 ,  28.99,
         2.95,   2.9 ,   1.97, 200.  ,  89.99,   2.56,  30.99,   3.61,
       394.99,   1.26,   1.2 ,   1.04])

In [1657]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          10840 non-null  float64
 3   Reviews         10840 non-null  object
 4   Size            10840 non-null  float64
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(3), object(10)
memory usage: 1.2+ MB

In [1658]:
df['Price'].describe()

count    10840.000000
mean         1.027368
std         15.949703
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        400.000000
Name: Price, dtype: float64

In [1659]:
df['Price'].value_counts()

Price
0.00     10040
0.99       148
2.99       129
1.99        73
4.99        72
         ...
19.90        1
1.75         1
14.00        1
4.85         1
1.04         1
Name: count, Length: 92, dtype: int64

# fix category

In [1660]:
df['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [1661]:
df['Category'].value_counts()

Category
FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
AUTO_AND_VEHICLES        85
LIBRARIES_AND_DEMO       85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
Name: count, dtype: int64

In [1662]:
df['Category']=df['Category'].str.lower()

In [1663]:
df['Category']

0             art_and_design
1             art_and_design
2             art_and_design
3             art_and_design
4             art_and_design
                ...
10836                 family
10837                 family
10838                medical
10839    books_and_reference
10840              lifestyle
Name: Category, Length: 10840, dtype: object

In [1664]:
df['Category'].unique()

array(['art_and_design', 'auto_and_vehicles', 'beauty',
       'books_and_reference', 'business', 'comics', 'communication',
       'dating', 'education', 'entertainment', 'events', 'finance',
       'food_and_drink', 'health_and_fitness', 'house_and_home',
       'libraries_and_demo', 'lifestyle', 'game', 'family', 'medical',
       'social', 'shopping', 'photography', 'sports', 'travel_and_local',
       'tools', 'personalization', 'productivity', 'parenting', 'weather',
       'video_players', 'news_and_magazines', 'maps_and_navigation'],
      dtype=object)

# fix Last Updated

In [1665]:
df['Last Updated']

0         January 7, 2018
1        January 15, 2018
2          August 1, 2018
3            June 8, 2018
4           June 20, 2018
               ...
10836       July 25, 2017
10837        July 6, 2018
10838    January 20, 2017
10839    January 19, 2015
10840       July 25, 2018
Name: Last Updated, Length: 10840, dtype: object

In [1666]:
df['Last Updated']=df['Last Updated'].replace({'January':'1-','February':'2-','March':'3-','April':'4-','May':'5-','June':'6-','July':'7-',
                                               'Augest':'8-','August':'8-','September':'9-','October':'10-','November':'11-','December':'12-',',':'-'},regex=True)

In [1667]:
df['Last Updated']

0         1- 7- 2018
1        1- 15- 2018
2         8- 1- 2018
3         6- 8- 2018
4        6- 20- 2018
            ...
10836    7- 25- 2017
10837     7- 6- 2018
10838    1- 20- 2017
10839    1- 19- 2015
10840    7- 25- 2018
Name: Last Updated, Length: 10840, dtype: object

In [1668]:
df['Last Updated']=df['Last Updated'].str.replace(" ","")

In [1669]:
df['Last Updated']

0         1-7-2018
1        1-15-2018
2         8-1-2018
3         6-8-2018
4        6-20-2018
           ...
10836    7-25-2017
10837     7-6-2018
10838    1-20-2017
10839    1-19-2015
10840    7-25-2018
Name: Last Updated, Length: 10840, dtype: object

In [1670]:
df['Last Updated'].sample(7)

2752     7-30-2018
5319     5-20-2018
10604    7-13-2018
3106     5-29-2018
6629     7-31-2018
8734     3-10-2016
2669     7-23-2018
Name: Last Updated, dtype: object

In [1671]:
import datetime

In [1672]:
df['Last Updated']=pd.to_datetime(df['Last Updated'])

In [1673]:
df['Last Updated']

0       2018-01-07
1       2018-01-15
2       2018-08-01
3       2018-06-08
4       2018-06-20
           ...
10836   2017-07-25
10837   2018-07-06
10838   2017-01-20
10839   2015-01-19
10840   2018-07-25
Name: Last Updated, Length: 10840, dtype: datetime64[ns]

In [1674]:
df['year']=df['Last Updated'].dt.year

In [1675]:
df['year']

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
10836    2017
10837    2018
10838    2017
10839    2015
10840    2018
Name: year, Length: 10840, dtype: int32

# fix type

In [1676]:
df['Type']

0        Free
1        Free
2        Free
3        Free
4        Free
         ...
10836    Free
10837    Free
10838    Free
10839    Free
10840    Free
Name: Type, Length: 10840, dtype: object

In [1677]:
df['Type'].value_counts()

Type
Free    10039
Paid      800
Name: count, dtype: int64

In [1678]:
df['Type']=df['Type'].fillna(df['Type'].mode()[0])

In [1679]:
df['Type'].isna().sum()

0

# fix installs

In [1680]:
df['Installs']

0            10,000+
1           500,000+
2         5,000,000+
3        50,000,000+
4           100,000+
            ...
10836         5,000+
10837           100+
10838         1,000+
10839         1,000+
10840    10,000,000+
Name: Installs, Length: 10840, dtype: object

In [1681]:
df['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [1682]:
df['Installs']=df['Installs'].str.replace('+','')

In [1683]:
df['Installs']

0            10,000
1           500,000
2         5,000,000
3        50,000,000
4           100,000
            ...
10836         5,000
10837           100
10838         1,000
10839         1,000
10840    10,000,000
Name: Installs, Length: 10840, dtype: object

In [1684]:
df['Installs']=df['Installs'].str.replace(',','')

In [1685]:
df['Installs'].astype(int)

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 10840, dtype: int32

# fix ` reviews `

In [1686]:
df['Reviews'].apply(int)

0           159
1           967
2         87510
3        215644
4           967
          ...
10836        38
10837         4
10838         3
10839       114
10840    398307
Name: Reviews, Length: 10840, dtype: int64

# Check for nulls

In [1687]:
df['Content Rating'].value_counts()

Content Rating
Everyone           8714
Teen               1208
Mature 17+          499
Everyone 10+        414
Adults only 18+       3
Unrated               2
Name: count, dtype: int64

In [1688]:
df.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       8
Android Ver       2
year              0
dtype: int64

In [1689]:
df.dropna(inplace=True)

In [1690]:
df.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
year              0
dtype: int64

# fix `Android Ver`

In [1691]:
df['Android Ver'].unique()

array(['4.0.3 and up', '4.2 and up', '4.4 and up', '2.3 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.3.3 and up',
       'Varies with device', '2.2 and up', '5.0 and up', '6.0 and up',
       '1.6 and up', '1.5 and up', '2.1 and up', '7.0 and up',
       '5.1 and up', '4.3 and up', '4.0.3 - 7.1.1', '2.0 and up',
       '3.2 and up', '4.4W and up', '7.1 and up', '7.0 - 7.1.1',
       '8.0 and up', '5.0 - 8.0', '3.1 and up', '2.0.1 and up',
       '4.1 - 7.1.1', '5.0 - 6.0', '1.0 and up', '2.2 - 7.1.1',
       '5.0 - 7.1.1'], dtype=object)

In [1692]:
df['Android Ver'].nunique()

33

In [1693]:
df[df['Android Ver']=='4.4W and up']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,year
1024,Sarajevo Film Festival - Official,events,4.0,6,9.7,100,Free,0.00,Everyone 10+,Events,2018-07-31,2.0.1,4.4W and up,2018
1089,WiseBanyan - Invest For Free,finance,4.2,257,44.0,10000,Free,0.00,Everyone,Finance,2018-07-31,2.2.12,4.4W and up,2018
2254,EMT Review Plus,medical,4.5,199,1.8,10000,Paid,11.99,Everyone,Medical,2018-06-27,3.0.5,4.4W and up,2018
2289,Critical Care Paramedic Review,medical,4.4,17,1.8,1000,Paid,9.99,Everyone 10+,Medical,2018-05-14,2.0.5,4.4W and up,2018
2395,EMT Review Plus,medical,4.5,199,1.8,10000,Paid,11.99,Everyone,Medical,2018-06-27,3.0.5,4.4W and up,2018
5970,Explore British Columbia - BC Travel Guide,travel_and_local,4.4,7,17.0,500,Free,0.00,Everyone,Travel & Local,2017-10-09,2.0.0,4.4W and up,2017
6365,bk Group Mobile,business,4.0,1,30.0,50,Free,0.00,Everyone,Business,2018-02-26,2.0,4.4W and up,2018
6377,SKIN BK,productivity,4.0,0,33.0,10,Free,0.00,Everyone,Productivity,2018-06-25,1.1.2,4.4W and up,2018
6444,BL-ED: From BLUE to RED,game,4.0,3,2.9,10,Free,0.00,Everyone,Arcade,2016-04-24,1.6.5,4.4W and up,2016
8288,McClatchy DC Bureau,news_and_magazines,4.3,80,8.7,5000,Free,0.00,Everyone 10+,News & Magazines,2018-06-18,6.0.1,4.4W and up,2018
9515,Sanu Ek Pal Chain - Raid,tools,4.0,1,2.6,500,Free,0.00,Everyone,Tools,2018-05-12,2.0,4.4W and up,2018
10811,FR Plus 1.6,auto_and_vehicles,4.0,4,3.9,100,Free,0.00,Everyone,Auto & Vehicles,2018-07-24,1.3.6,4.4W and up,2018

In [1694]:
df['Android Ver'].value_counts()

Android Ver
4.1 and up            2451
4.0.3 and up          1501
4.0 and up            1373
Varies with device    1362
4.4 and up             980
2.3 and up             651
5.0 and up             601
4.2 and up             393
2.3.3 and up           281
2.2 and up             244
4.3 and up             243
3.0 and up             240
2.1 and up             134
1.6 and up             115
6.0 and up              60
7.0 and up              42
3.2 and up              36
2.0 and up              31
5.1 and up              24
1.5 and up              19
4.4W and up             12
3.1 and up              10
2.0.1 and up             7
8.0 and up               6
7.1 and up               3
4.0.3 - 7.1.1            2
5.0 - 8.0                2
1.0 and up               2
7.0 - 7.1.1              1
4.1 - 7.1.1              1
5.0 - 6.0                1
2.2 - 7.1.1              1
5.0 - 7.1.1              1
Name: count, dtype: int64

In [1695]:
def replace(x):
    if '4.4W' in x:
        x= '4.4 and up'
        return x
    else:
        return x

In [1696]:
df['Android Ver']=df['Android Ver'].apply(replace)

In [1697]:
df['Android Ver'].unique()

array(['4.0.3 and up', '4.2 and up', '4.4 and up', '2.3 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.3.3 and up',
       'Varies with device', '2.2 and up', '5.0 and up', '6.0 and up',
       '1.6 and up', '1.5 and up', '2.1 and up', '7.0 and up',
       '5.1 and up', '4.3 and up', '4.0.3 - 7.1.1', '2.0 and up',
       '3.2 and up', '7.1 and up', '7.0 - 7.1.1', '8.0 and up',
       '5.0 - 8.0', '3.1 and up', '2.0.1 and up', '4.1 - 7.1.1',
       '5.0 - 6.0', '1.0 and up', '2.2 - 7.1.1', '5.0 - 7.1.1'],
      dtype=object)

In [1698]:
df['Android Ver'].loc[1089]

'4.4 and up'

In [1699]:
df['Android Ver'].value_counts()

Android Ver
4.1 and up            2451
4.0.3 and up          1501
4.0 and up            1373
Varies with device    1362
4.4 and up             992
2.3 and up             651
5.0 and up             601
4.2 and up             393
2.3.3 and up           281
2.2 and up             244
4.3 and up             243
3.0 and up             240
2.1 and up             134
1.6 and up             115
6.0 and up              60
7.0 and up              42
3.2 and up              36
2.0 and up              31
5.1 and up              24
1.5 and up              19
3.1 and up              10
2.0.1 and up             7
8.0 and up               6
7.1 and up               3
4.0.3 - 7.1.1            2
5.0 - 8.0                2
1.0 and up               2
7.0 - 7.1.1              1
4.1 - 7.1.1              1
5.0 - 6.0                1
2.2 - 7.1.1              1
5.0 - 7.1.1              1
Name: count, dtype: int64

divide the different versions into 9 categories only

In [1700]:
df['Android Ver']=df['Android Ver'].astype(str).str[0:1]
df['Android Ver']=df['Android Ver'].str.replace('V','99') #varies with device

In [1701]:
df['Android Ver'].value_counts()

Android Ver
4     6956
99    1362
2     1349
5      629
3      286
1      136
6       60
7       46
8        6
Name: count, dtype: int64

In [1702]:
df['Android Ver']=df['Android Ver'].astype(int)

# drop ` current ver` bec we have Android version

In [1703]:
df['Current Ver'].isna().sum()

0

In [1704]:
df.drop('Current Ver', axis=1 ,inplace=True)

# drop duplicates

In [1705]:
df.duplicated().sum()

483

In [1706]:
df.shape

(10830, 13)

In [1707]:
df.drop_duplicates(keep='first',inplace=True)

In [1708]:
df.duplicated().sum()

0

In [1709]:
df.shape

(10347, 13)

In [1710]:
df=df.convert_dtypes()

In [1711]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10347 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10347 non-null  string
 1   Category        10347 non-null  string
 2   Rating          10347 non-null  Float64
 3   Reviews         10347 non-null  string
 4   Size            10347 non-null  Float64
 5   Installs        10347 non-null  string
 6   Type            10347 non-null  string
 7   Price           10347 non-null  Float64
 8   Content Rating  10347 non-null  string
 9   Genres          10347 non-null  string
 10  Last Updated    10347 non-null  datetime64[ns]
 11  Android Ver     10347 non-null  Int32
 12  year            10347 non-null  Int32
dtypes: Float64(3), Int32(2), datetime64[ns](1), string(7)
memory usage: 1.1 MB

In [1712]:
df['Installs']=df['Installs'].astype(int)

In [1713]:
df['Reviews']=df['Reviews'].astype(int)

In [1714]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10347 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10347 non-null  string
 1   Category        10347 non-null  string
 2   Rating          10347 non-null  Float64
 3   Reviews         10347 non-null  int32
 4   Size            10347 non-null  Float64
 5   Installs        10347 non-null  int32
 6   Type            10347 non-null  string
 7   Price           10347 non-null  Float64
 8   Content Rating  10347 non-null  string
 9   Genres          10347 non-null  string
 10  Last Updated    10347 non-null  datetime64[ns]
 11  Android Ver     10347 non-null  Int32
 12  year            10347 non-null  Int32
dtypes: Float64(3), Int32(2), datetime64[ns](1), int32(2), string(5)
memory usage: 1020.6 KB

# Analytical Questions:

1.What is the most expensive app on the Play Store?

In [1715]:
df['Price'].sort_values(ascending=False)

4367      400.0
5358     399.99
4197     399.99
5362     399.99
5351     399.99
          ...
3910        0.0
3911        0.0
3912        0.0
3913        0.0
10840       0.0
Name: Price, Length: 10347, dtype: Float64

In [1716]:
print("the most expensive app on the Play Store is: ",df['App'].loc[4367])

the most expensive app on the Play Store is:  I'm Rich - Trump Edition

2.Which genre has the highest number of apps?

In [1717]:
print("the genre that has the highest number of apps is ",df['Genres'].value_counts().index[0])

the genre that has the highest number of apps is  Tools

3.What is the average size of free vs. paid apps?

In [1718]:
df.groupby('Type')['Size'].mean().reset_index()

   Type       Size
0  Free  21.491351
1  Paid  19.398177

4.What are the top 5 most expensive apps with a perfect rating (5)?

In [1719]:
df[df['Rating']==5].nlargest(5,'Price')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Android Ver,year
5489,AP Art History Flashcards,family,5.0,1,96.0,10,Paid,29.99,Mature 17+,Education,2016-01-19,4,2016
7477,USMLE Step 2 CK Flashcards,family,5.0,1,40.0,10,Paid,19.99,Everyone,Education,2014-05-26,2,2014
5246,Hey AJ! It's Bedtime!,family,5.0,1,63.0,10,Paid,4.99,Everyone,Education,2018-04-04,2,2018
5482,meStudying: AP English Lit,family,5.0,1,0.639648,10,Paid,4.99,Everyone,Education,2013-08-31,2,2013
7204,TI-84 CE Graphing Calculator Manual TI 84,family,5.0,1,27.0,100,Paid,4.99,Everyone,Education,2018-03-28,4,2018

5.How many apps have received more than 50K reviews?

In [1720]:
print("the total number of apps that have received more than 50K reviews: ",df[df['Reviews'] > 50000]['App'].count())

the total number of apps that have received more than 50K reviews:  2525

6.What is the average price of apps, grouped by genre and number of installs?

In [1721]:
df.groupby(['Genres','Installs'])['Price'].mean().reset_index()

     Genres  Installs     Price
0    Action        10       0.0
1    Action        50  0.663333
2    Action       100     1.096
3    Action       500       0.0
4    Action      1000    0.3725
..      ...       ...       ...
916    Word    100000       0.0
917    Word   1000000       0.0
918    Word   5000000       0.0
919    Word  10000000       0.0
920    Word  50000000       0.0

[921 rows x 3 columns]

7.How many apps have a rating higher than 4.7, and what is their average price?

In [1722]:
print("the total number of apps which have a rating higher than 4.7 :",df[df['Rating'] > 4.7].shape[0])

the total number of apps which have a rating higher than 4.7 : 586

In [1723]:
print("their avg price is : ",df[df['Rating'] > 4.7]['Price'].mean())

their avg price is :  0.455

8.What is Google's estimated revenue from apps with 5,000,000+ installs?
(Assuming Google takes a 30% cut from app sales)

In [1724]:
installs=df[df['Installs']>=5000000]
revenue_by_app=installs['Price'] * installs['Installs']
revenue=revenue_by_app.sum()*0.30
print(" Google's estimated revenue from apps with 5,000,000+ installs: ",revenue)

 Google's estimated revenue from apps with 5,000,000+ installs:  44910000.0

9.What are the maximum and minimum sizes of free vs. paid apps?

In [1725]:
df.groupby('Type')['Size'].max().reset_index()

   Type   Size
0  Free  100.0
1  Paid  100.0

In [1726]:
df.groupby('Type')['Size'].min().reset_index()

   Type      Size
0  Free  0.008301
1  Paid  0.013672

10.Is there a correlation between an app’s rating, number of reviews, size, and its price?

In [1727]:
df[['Rating','Reviews','Size','Price']].corr()

           Rating   Reviews      Size     Price
Rating   1.000000  0.076158  0.092255 -0.021807
Reviews  0.076158  1.000000  0.131011 -0.009423
Size     0.092255  0.131011  1.000000 -0.023885
Price   -0.021807 -0.009423 -0.023885  1.000000

11.How many apps exist for each type (free/paid) across different content ratings?

In [1728]:
df.groupby(['Type','Content Rating'])['App'].size().reset_index(name='count')

   Type   Content Rating  count
0  Free  Adults only 18+      3
1  Free         Everyone   7713
2  Free     Everyone 10+    345
3  Free       Mature 17+    428
4  Free             Teen   1094
5  Free          Unrated      2
6  Paid         Everyone    659
7  Paid     Everyone 10+     32
8  Paid       Mature 17+     19
9  Paid             Teen     52

12.How many apps are compatible with Android version 4.x?

In [1729]:
print("the total number of apps compatible witn Android version 4 : ",df[df['Android Ver']==4].shape[0])

the total number of apps compatible witn Android version 4 :  6694